
.mainmenubtn {
    background: url(/public/images/buttons/menu.png) no-repeat center;
    height: 45px;
    width: 45px;
    border: none;
    cursor: pointer;
    margin-top: -15px;
    margin-left: 300px;
}

.drop{
    margin-top: 65px;
    margin-left: 30px;
}

.drop a {
    padding: 100px;
}


.dropr1{
    display: flex;

}

.dropr1 a {
    color: #FFFFFF;
    padding: 10px;
}

.close{
    background: url(/public/images/buttons/close.png) no-repeat center;
    padding: 10px;
    width: 20px;
    height: 20px;
}


.launge1,.launge2 ,.launge3 {
    margin-left: 30px;
    border-bottom: 1px solid white;
    padding: 10px; 
}

.dropr2 a {
    color: white;    
}

.dropr2 a:hover {
    opacity: 0.5;
    color: #FFFFFF;
}

    
.dropdown {
    position: absolute;
    top: 60px;
    right: 13%;
    display: inline-block;
}
.dropdown-child {
    position: absolute;
    top: -60px;
    right: -5%;
    display: none;
    background-color: #3F373D;
    min-width: 250px;
    height: 500px;
    text-align: center;
}
.dropdown-child a {
    padding: 10px;
    pointer-events: visible;
    display: block;
    margin-top: 50px;
    font-size: 20px;
}
.dropdown:hover .dropdown-child {
    display: block;
}

