.container2 {
	display: block;
	width: 90%;
	height: 470px;
	margin: 80px auto;
	padding: 15px;
	text-align: center;

}

.wrapperpost {
	display: inline-block;
	box-shadow: 0 0 5px #999798;
	width: 300px;
	height: 275px;
	margin: 0 20px 0 20px;
	padding: 10px;
	background: #FFF;

}

.subtitlecontainer h2 {
	font-size: 17px;
	font-weight: bold;
	color: #434242;
	margin-left: 5px;
	text-align: left;
}

.wrapperpost h5 {
	font-size: 16px;
	font-weight: normal;
	color: #434242;
	margin-top: 1px;
	margin-left: 5px;
	text-align: left;
}

.subtitlecontainer {
	height: 65px;
	width: 280px;
}


.postcontainer {
	box-shadow: 0 0 5px #999798;
	width: 290px;
	height: 160px;
	margin: 0 auto;
	padding: 1px;	
}


.postcontainer1  {
	height: 40px;
	left: 50%;
  	top: 50%;
  	
}

@media screen and (max-width: 1250px) {

.container2 {
	display: block;
	width: 399px;
	height: 1000px;
	margin: 80px auto;
	padding: 1px;
	text-align: center;
	}

	.wrapperpost {
	width: 300px;
	height: 280px;
	margin: 30px auto;
	padding: 10px;
	background: #FFF;
	}

	.subtitlecontainer {
	height: 65px;
	width: 280px;
	}

	.subtitlecontainer h2 {
	font-size: 17px;
	font-weight: bold;
	color: #434242;
	margin-top: 1px;
	margin-left: 5px;
	text-align: left;
	}

	.wrapperpost h5 {	
	font-size: 16px;
	font-weight: normal;
	color: #434242;
	margin-top: -7px;
	margin-left: 5px;
	text-align: left;
	}

	.postcontainer {
	width: 290px;
	height: 160px;
	margin: 0 auto;
	padding: 1px;
	}

	.postcontainer1  {
	height: 40px;
	left: 50%;
  	top: 50%; 	
	}

}


@media screen and (max-width: 400px) {

	.container2 {
	display: block;
	width: 100%;
	height: 1000px;
	margin: 80px auto;
	padding: 1px;
	text-align: center;
	}

	.wrapperpost {
	width: 80%;
	height: 250px;
	margin: 30px auto;
	background: #FFF;
	}

		.postcontainer {
	width: 100%;
	height: 160px;
	margin: 0 auto;
	padding: 1px;
	}
}