/* New changes*/
.Post-block {
    margin-top: 20px;
    margin: 0 auto;
    display: block;
    max-width: 80%;
    min-height: 600px;
    padding-bottom: 50px;
}

.Post-block p {
    font-size: 20px;
    color:  #434242;
    text-align: left;
}

.Post-block h1 {
    margin: 10px auto;
    text-align: center;
    font-size: 30px;
}

.leftimg {
    float: left;
    margin: 10px 10px 10px 0;
    height: 60%;
    width: 60%;
}

.Posts-list {
    max-width: 100%;
    width: 81%;
    display: float;
    margin: 0 auto;
    margin-top: 50px;
    text-align: left;

}

@media screen and (max-width: 700px) {
    .Post-block {
        height: auto;    
    }
    .Post-block p {
        font-size: 15px;
        text-align: left;
    }

    .Post-block h1 {
        font-size: 20px;
    }
}

/* New changes*/

/* Bloks */

.Posts-wrapper {
    display: inline-block;
    box-shadow: 0 0 5px #999798;
    width: 300px;
    height: 275px;
    margin: 20px 20px 20px 20px;
    padding: 10px;
    background: #FFF;

}

.subtitlecontainer h2 {
    font-size: 17px;
    font-weight: bold;
    color: #434242;
    margin-left: 5px;
    text-align: left;
}

.Posts-wrapper h5 {
    font-size: 16px;
    font-weight: normal;
    color: #434242;
    margin-top: 1px;
    margin-left: 5px;
    text-align: left;
}

.subtitlecontainer {
    height: 65px;
    width: 280px;
}


.Posts-container {
    box-shadow: 0 0 5px #999798;
    width: 290px;
    height: 160px;
    margin: 0 auto;
    padding: 1px;	
}

@media screen and (max-width: 2239px) {
    .Posts-list {
        width: 1460px;
    }

}

@media screen and (max-width: 1787px) {
    .Posts-list {
        width: 1090px;
    }

}

@media screen and (max-width: 1340px) {
    .Posts-list {
        width: 58%;
    }

}


@media screen and (max-width: 1250px) {

    .Posts-list {
        text-align: center; 
    }
    
    .Posts-wrapper {
        width: 300px;
        height: 280px;
        margin: 30px auto;
        padding: 10px;
        background: #FFF;
    }

    .subtitlecontainer {
        height: 65px;
        width: 280px;
    }

    .subtitlecontainer h2 {
        font-size: 17px;
        font-weight: bold;
        color: #434242;
        margin-top: 1px;
        margin-left: 5px;
        text-align: left;
    }

    .Posts-wrapper h5 {	
        font-size: 16px;
        font-weight: normal;
        color: #434242;
        margin-top: -7px;
        margin-left: 5px;
        text-align: left;
    }

    .Posts-container {
        width: 290px;
        height: 160px;
        margin: 0 auto;
        padding: 1px;
    }



}

@media screen and (max-width: 550px) {

    .Posts-list {
        width: 90%;
    }
}

@media screen and (max-width: 400px) {

    .Posts-list {
        width: 90%;
    }

    .Posts-wrapper {
        width: 80%;
        height: 250px;
        margin: 30px auto;
        background: #FFF;
    }

    .Posts-container {
        width: 100%;
        height: 160px;
        margin: 0 auto;
        padding: 1px;
    }
}
/* Bloks */
