
* { 
	font-family: 'Exo 2', sans-serif;
	font-size: 15px;

}

a {
	text-decoration: none;
}

body {
	margin: 0;
}

.wrapper {

}

.block-A {
	height: 500px;
	width: 100%;
	background: url(/public/images/main_page.png) no-repeat center;

}



.menu{
	display: flex;
}

.menu-left {
	height: 120px;
	width: 130px;
	background: url(/public/images/logo.png) no-repeat center;
	margin-left: 15%;
	margin-top: 50px;
}

.menu-right {
	margin-top: 80px;
	margin-left: 50%;
}


.menu-right a {
	padding: 5px;
	color: #FEFEFE;
}

.menu-right a:hover {
	border-bottom: 2px solid #C282B6;
}

.menu-right1{
	height: 5px;
	margin-top: -20px;
	padding-left: 65.6%;
}

.menu-right1 a {
	padding: 5px;
	color: #C282B6;
}

.menu1 {
	display: block;
	text-align: center;
	margin-top: 30px;
	padding: 5px;
	
}

.menu1 p {
	font-size: 30px;
	font-weight:  500;
	font-style: italic;
	color: #FEFEFE;
}

.menu1 hr {
	border: 1px solid #C282B6;
	width: 200px; 
}

.menu1 h1 {
	color: #FEFEFE;
	padding: 5px;
	font-size: 23px;
	font-weight: normal;
}

@media screen and (max-width: 380px) {
	.menu1 h1 {
	color: #FEFEFE;
	padding: 5px;
	font-size: 20px;
	font-weight: normal;
	}
}

@media screen and (max-width: 340px) {
	.menu1 h1 {
	color: #FEFEFE;
	padding: 5px;
	font-size: 18px;
	font-weight: normal;
	}
}


.menu2 {
	display: block;
	text-align: center;
	margin-top: 30px;
}

.menu2 a {
	padding: 10px;
	color: #FEFEFE;
        font-size: 20px;
}

.menu2 a:hover {
	border-bottom: 2px solid #C282B6;
}

/* ###### BLOK B ####### */

.block-B {
	max-width: 1400px;
	margin: 0 auto;
}

/* table */

.row1 table {
padding-top: 100px;
max-width: 100%;
margin: 0 auto;
}

.row1 td {
text-align: center;
padding: 10px;
}

.tittlet {
font-style: normal;
font-weight: bold;
font-size: 20px;
color: #434242;	
}


/*  table */

/* mobile table */

.row1m {
display: none;
}

.row1m table {
padding-top: 50px;
max-width: 100%;
margin-left: 10%;
margin-right: 10%;
text-align: right;
display: block;
}

.row1m td {
margin-left: 5%;
padding: 10px;
}

.tittlet {
text-align: left;
font-style: normal;
font-weight: bold;
font-size: 20px;
color: #434242;	
}



/* end mobile table */

.row2 {
	padding-top: 100px;
	display: flex;
}

.row2Left{
	margin-left: 18%;
}

.row2 h1 {
	font-size: 45px;
	color: #1D141B;
	font-weight: normal;
}

.row2 hr {
	margin-top: -20px;
	border: 2px solid #C282B6;
	width: 200px; 
}

.row2Right {
	margin-top: 45px;
	margin-left: 18%;
}

.row2Right1 {
	margin-top: 24px;
	margin-left: 2%;
	margin-right: 5%;
}

.row2Right1 p {
	color: #9D9E9D;
	font-size: 18px;
	font-style: italic;
	font-weight: normal;
}


/*  mobile row2 */

.row2m {
	padding-top: 100px;
	display: none;
	text-align: center;
}


.row2m h1 {
	font-size: 45px;
	color: #1D141B;
	font-weight: normal;
}

.row2m hr {
	margin-top: -20px;
	border: 2px solid #C282B6;
	width: 200px; 
}

.row2f {
	display: flex;
}

.row2Rightm {
	margin-top: 45px;
	margin-left: 17%;
}

.row2Right1m {
	display: block;
	text-align: left;
	margin-top: 24px;
	margin-left: 2%;
	margin-right: 5%;
}

.row2Right1m p {
	color: #9D9E9D;
	font-size: 18px;
	font-style: italic;
	font-weight: normal;
}

.row2Right1mBr {
	margin-top: 40px;
	margin-left: 2%;
	margin-right: 5%;
}

.row2Right1mBr p {
	color: #9D9E9D;
	font-size: 18px;
	font-style: italic;
	font-weight: normal;
}


/*  end mobile row2 */  

.row3 {
	padding-top: 80px;
	display: flex;
	width: 400px;
	margin-left: 18%;
	
	}

.row3 p {
	color: #9D9E9D;
	font-size: 18px;
	font-style: inherit;
	font-weight: normal;
	margin-bottom: -10px;
}

.row3Left {
	margin-left: 20%;
}

.row3Left1 {
	margin-left: 1%;
}

.row3Left1 p {
	color: #9D9E9D;
	font-size: 18px;
	font-style: inherit;
	font-weight: normal;
	margin-bottom: -10px;	
}

.row3Left2 {
	margin-left: 1%;
	margin-top: 60px;
}

/*  mobile row3 */  

.row3m {
	padding-top: 80px;
	display: none;
	max-width: 80%;
	margin-left: 2%;
	
	}

.row3m p {
	color: #9D9E9D;
	font-size: 18px;
	font-style: inherit;
	font-weight: normal;
	margin-bottom: -10px;
}

.row3Leftm {
	margin-left: 20%;
}

.row3Left1m {
	margin-left: 1%;
}

.row3Left1m p {
	color: #9D9E9D;
	font-size: 18px;
	font-style: inherit;
	font-weight: normal;
	margin-bottom: -10px;	
}

.row3Left2m {
	margin-left: 1%;
	margin-top: 60px;
}

@media screen and (max-width: 620px) {

	.row3Leftm {
	margin-left: 20%;
	margin-top: -20px;
	}

	.row3Left2m {
	margin-left: 1%;
	margin-top: 120px;
	}
}

@media screen and (max-width: 405px) {

	.row3Leftm {
	margin-left: 20%;
	margin-top: -10px;
	}

	.row3Left2m {
	margin-left: 1%;
	margin-top: 150px;
	}
}

@media screen and (max-width: 295px) {

	.row3Leftm {
	margin-left: 20%;
	margin-top: -10px;
	}

	.row3Left2m {
	margin-left: 1%;
	margin-top: 200px;
	}
}

/*  end mobile row3 */  

.row4 {
	padding-top: 80px;
	display: block;
	margin-left: 17%;
	margin-right: 5%;
}

.row4 li {
	color: #5F605F;
	font-size: 18px;
	font-weight: normal;
}

/*  mobile row4 */

.row4m {
	padding-top: 80px;
	display: none;
	margin-left: 5%;
	margin-right: 5%;
}

.row4m li {
	color: #5F605F;
	font-size: 18px;
	font-weight: normal;
}


.row4Left {
	margin-left: 18.5%;
}

/*  end mobile row4 */    


.row5 {
	padding-top: 80px;
	display: block;
	text-align: center;

}

.row5 a {
		background-color: #7C953C;
		color: #DDE4A1;
		size: 220px;
		height: 30px;
		padding: 10px;
		padding-left: 50px;
		padding-right: 50px;
		border-radius: 4px;
		font-weight: bold;
}

.HR {
	padding-top: 80px;
	display: block;
}

.HR hr {
	border: 1px solid #9D9E9D;
	width: 80%; 
}

/* ###### BLOK C ####### */



.block-C {
	margin-top: 50px;
	width: 100%;
	height: 400px;
	padding-top: 100px;
	background: url(/public/images/contacts.png) no-repeat center;
}

/*
Contacts-block  #############
*/

.contacts-menu {
	width: 25%;
	height: 250px;
	margin-left: 17%;
	margin-top: -20px;
	
}

.contacts-menu h1 {
	color: #FFFEFD;
	font-size: 45px;
	font-weight: normal;
}

.contacts-menu h2 {
	color: #FFFEFD;
	font-weight: normal;
	font-style: 
}

.contacts-menu img {
	margin-top: -7px;
}


.Contacts-blockm {
	display: flex;
}  

.contacts-menu-m {
	display: none;
}

.contacts-menu-m1{
	display: none; 	
}


/*  end Contacts-block  */      



/* форма отправления */

.contacts-menu1-m {
	margin-left: 25%;
}

.contactpost-m {
	margin-top: 70px;
}


.contactpost1 input {
	background: #817E85;
	width: 220px;
	outline: none;
	border-radius: 3px;
	border: 1px solid #FFF;
	opacity: 0.7;
	text-align: center;
}

.contactpost2 input {
	background: #817E85;
	width: 220px;
	outline: none;
	border-radius: 3px;
	border: 1px solid #FFF;
	opacity: 0.7;
	text-align: center;
}

.contactpost3 textarea {
	background: #817E85;
	width: 220px;
	resize: none;
	outline: none;
	border-radius: 3px;
	border: 1px solid #FFF;
	opacity: 0.7;
	text-align: center;
} 

input[type="text"]::-webkit-input-placeholder {
    color: #DAD8DD;
} 

input[type="text"]::-moz-placeholder {
    color: #DAD8DD;
}

textarea[name="text"]::-webkit-input-placeholder {
    color: #DAD8DD;
}

textarea[name="text"]::-moz-input-placeholder {
    color: #DAD8DD;
}

#success{
	margin-top: -10px;
	margin-left: 10px;
}

#success button {
	width: 200px;
	border: 0px ;
	border-radius: 5px;
	padding: 5px;
	outline: none;
	background: #7C953C;
	color: #DDE4A1;
	font-weight: bold;
}


/* форма отправления ############# */ 

.facebook{
	margin-top: 50px;
	display: block;
	text-align: center;
	height: 70;
}

.fb {
	height: 70px;
	width: 70px;
	background: url(/public/images/fb.jpg) no-repeat center;
	padding: 30px;
}


/* ABOUTUS */


.block-D {
	max-width: 1400px;
	margin: 0 auto;
}

.row-us1 {
	width: 200px;
	margin-left: 10%;
	margin-top: 50px;
}

.row-us1 h1{
	margin-left: 5%;
	font-size: 45px;
	color: #1D141B;
	font-weight: normal;
}

.row-us1 hr {
	border: 2px solid #C282B6;
	width: 200px; 
}

/* элемент abuoutus ru */

.row-us1-2 {
	width: 300px;
	margin-left: 10%;
	margin-top: 50px;
}

.row-us1-2 h1{
	margin-left: 5%;
	font-size: 45px;
	color: #1D141B;
	font-weight: normal;
}

.row-us1-2 hr{
	border: 2px solid #C282B6;
	width: 300px;
}

/* элемент abuoutus ru */

.row-us2 {
	max-width: 1400px;
	margin-top: 50px;
	margin-left: 10%;
	margin-right: 10%;
	padding-bottom: 50px;
}

.row-us2 text {
	color: #181717;
	font-size: 20px;
	font-style: inherit;
}

.row-us3b1{
	margin-top: 100px;
	margin-left:  5%;
	margin-right: 5%;
	max-width: 1400px;
	display: flex;
}

.persona img{
	margin-bottom: 20px;
}

.persona {
	margin: 0px auto;
	width: 200px;
	padding-left: 50px;
	padding-right: 50px;
}

.persona h2 {
	font-size: 20px;
}


.persona h3 {
	font-size: 15px;
	font-weight: normal;
}


.persona p {
	font-size: 15px;
	color: #1D141B;
	font-weight: normal;

}

.persona hr {
	border: 1px solid #C282B6;
	width: 100px;
	margin-right: 50%;
}

.Pb p {
	font-size: 17px;
	font-weight: bold;
}


.row-us3b2{
	margin-top: 100px;
	margin-left:  5%;
	margin-right: 5%;
	max-width: 1400px;
	display: flex;
}

.persona1 img{
	margin-bottom: 20px;
}

.persona1 {
	margin-left: 5%;
	width: 200px;
	padding-left: 50px;
	padding-right: 50px;
}

.viberP img , .mailP img {
	margin-top: 20px;
}


@media screen and (max-width: 1300px) {

.persona1 {
	margin-left: 3%;
}

}

@media screen and (max-width: 1300px) {

.persona1 {
	margin-left: 1%;
}

}
.persona1 h2 {
	font-size: 20px;
}


.persona1 h3 {
	font-size: 15px;
	font-weight: normal;
}

.persona1 h4 {
	font-size: 17px;
	font-weight: bold;
}

.persona1 p {
	font-size: 15px;
	color: #1D141B;
	font-weight: normal;

}

.persona1 hr {
	border: 1px solid #C282B6;
	width: 100px;
	margin-right: 50%;
}

/* mobile v1 */


.row-us3b1m{
	margin-top: 100px;
	margin-left:  5%;
	margin-right: 5%;
	max-width: 960px;
	display: none;
}

/* mobile v2 */

.row-us3b1m1{
	padding-top: 50px;
	margin: 0 auto;
	max-width: 300px;
	display: none;
}

/* ABOUT US END */

/* CONTACT */

.Gmap {
	display: block;
	max-width: 100%;
	padding: 20px;
	margin-top: 50px;

}

/* CONTACT END*/

/* MOBILE */

.dropdown {
	display: none;
}

.mainmenubtn {
	display: none;
}	


/* ----------------  index ------------------------------ */

@media screen and (max-width: 700px) {

.dropdown {
	display: block;
}

.mainmenubtn {
	display: block;
}		

.menu-right, .menu-right1, .menu2 a {
	display: none;
}



.menu1 hr {
	border: 1px solid #C282B6;
	width: 200px; 
}



.row1 {
	display: none;
}

.row1m {
	display: block;
}

.row2 {
	display: none;
}

.row2m {
	display: block;
}

.row3 {
	display: none;
}

.row3m {
	display: flex;
}

.row4 {
	display: none;
}

.row4m {
	display: block;
}

}

@media screen and (max-width: 1250px) {

.block-C {
	margin-top: 170px;
}	

}


@media screen and (max-width: 800px) {

/*   mobile Contacts-block  */

.block-C {
	margin-top: 170px;
}	

.Contacts-blockm {
	display: block;
	text-align: center;
	margin-top: -90px;
}

.contacts-menu{
	display: none;
}  

.contacts-menu-m {
	display: block;
}

.contactpost-m {
	margin-top: 30px;
}

.contacts-menu-m1{
	display: block;
}

.contacts-menu-m h1 {
	color: #FFFEFD;
	font-size: 45px;
	font-weight: normal;
}

.contacts-menu1-m {
	margin: 0 auto;
}

.contacts-menu-m1 {
	display: block;	
}

.contacts-menu-m1 table {
	margin: 0 auto;
}

.contacts-menu-m1 h1 {
	color: #FFFEFD;
	font-size: 50px;
}

.contacts-menu-m1 h2 {
	color: #FFFEFD;
	font-weight: normal;
}

.contacts-menu-m1 img {
	margin-top: -7px;
}



/*  end Contacts-block  */  

}

/* ----------------  index ------------------------------ */

/* ----------------  aboutus ------------------------ */

@media screen and (max-width: 960px) {

.row-us3b1 {
	display: none;
}

.row-us3b2 {
	display: none;
}

.row-us3b1m {
	display: flex;
}		

}

@media screen and (max-width: 650px) {

.row-us3b1m {
	display: none;
}

.row-us3b1m1 {
	display: flex;
}


/* ----------------  aboutus ------------------------ */

/* MOBILE END */